<ul class="comment" id="comment">
	<li style="font-style:italic;font-weight:bold;"><%= comment.title %>：</li>
	<li style="padding:5px 20px;"><%= comment.comment %></li>
	<li style="text-align: right;font-size: small;"><%= format_date(comment.created_at) %></li>
</ul>


