<p>
  <%= image_tag pic_path(@pic,:jpg) %>
</p>
<p>
  <%= image_tag thumb_pic_path(@pic,:jpg) %>
</p>
<p>
  <%= image_tag bigger_pic_path(@pic,:jpg) %>
</p>
<p>
  <%= image_tag avatar_pic_path(@pic,:jpg) %>
</p>
