<div id="aboutme">
  <h2>ABOUT ME</h2>
  <ul>
    <li>姓名：臧帅斌</li>
    <li>毕业学校：南京邮电大学</li>
    <li>学历：本科</li>
    <li>喜爱ruby,热爱编程,专注于Web开发,平时听听音乐的家伙。</li>
    <li>联系方式：zshuaibin@gmail.com, 13382629612</li>
  </ul>
</div>
